.about_content-container {
    display: grid;
    grid-template-areas:
        "title img"
        "text img"
    ;
}

.about_content-title {
    grid-area: title;
    display: flex;
    align-items: center;
}

.about_content-title h1 {
    font-size: calc(1vw + 30px);
    text-transform: uppercase;
}

.about_content-text {
    grid-area: text;
    display: flex;
    width: 100%;
    max-width: 500px;
}

.about_content-logo {
    grid-area: img;
}

.about_content-logo img {
    max-width: 550px;
}


.ideals_about-container,
.sustentability_main-container {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--cosmos-cream);
}

.ideals_about-container {
    background-image: url("../../images/backgrounds/texture.jpg");
}

.sustentability_main-container {
    background-image: url("../../images/backgrounds/sustentability.jpg");
    position: relative;
}

.sustentability_main-subcontainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sustentability-title {
    text-align: center;
}

.sustentability-title h1 {
    font-size: calc(1vw + 20px);
    text-transform: uppercase;
}

.sustentability-text {
    text-align: justify;
    display: flex;
    justify-content: center;
}

.sustentability-text p {
    max-width: 900px;
    width: 100%;
    font-size: 1.2rem;
    text-indent: 80px;
}

.sustentability_main-container
.background-smooth {
    background-color: rgb(0 0 0 / 75%);
}

.our_time-subcontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.our_time-title {
    text-align: center;
}

.our_time-title h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: calc(1vw + 30px);
}

.our_time-text {
    display: flex;
    justify-content: center;
}

.our_time-text p {
    text-indent: 80px;
    max-width: 900px;
    width: 100%;
    font-size: 1.2rem;
}

.ideals_about-container
.ideals_item-title h1 {
    color: var(--cosmos-cream);
}

@media screen and (max-width: 1000px) {
    .about_content-container {
        display: grid;
        grid-template-areas:
            "title"
            "img"
            "text"
        ;
        justify-content: center;
        row-gap: 40px;
    }

    .about_content-title {
        display: flex;
        justify-content: center;
    }

    .about_content-logo {
        display: flex;
        justify-content: center;
    }

    .about_content-logo img {
        max-width: 250px;
    }

    .about_content-text {
        max-width: none;
    }

    .about_content-text p {
        max-width: 700px;
        width: 100%;
        font-size: 1.2rem;
    }
}