.footer_main-container {
    background-color: var(--cosmos-black);
    color: var(--cosmos-cream);
}

.footer_main-subcontainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    flex-wrap: wrap;
}

.footer_first-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_nav-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.footer_nav-item {
    text-wrap: nowrap;
    position: relative;
    color: var(--cosmos-cream);
}

.footer_nav-item-after::after {
    content: "";
    width: 2px;
    height: 100%;
    right: -10px;
    background-color: var(--cosmos-cream);
    position: absolute;
}

.footer_company-name-text {
    font-weight: 100;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer_infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_info-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer_info-icon {
    display: flex;
    background-color: var(--cosmos-gray);
    padding: 10px;
    border-radius: 25px;
}

.info_text p {
    color: var(--cosmos-cream);
}

.footer_about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_about-text p {
    width: 300px;
    text-align: justify;
    line-height: 17px;
    font-weight: 300;
    font-size: 0.9rem;
}

.footer_social {
    display: flex;
    gap: 10px;
}

.footer_social-item {
    color: var(--cosmos-cream);
}

.footer_social-item:hover {
    background-color: var(--cosmos-cream);
    color: var(--cosmos-gray);
}

.footer_social-item {
    background-color: var(--cosmos-gray);
    padding: 8px;
}

.swiper-button-next,
.swiper-button-prev {
    top: 45% !important;
}

@media screen and (max-width: 1105px) {
    .footer_main-subcontainer {
        justify-content: center;
        align-items: center;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
    }

    .footer_first-content {
        align-items: center;
    }

    .footer_about {
        align-items: center;
        gap: 25px;
    }
}

@media screen and (max-width: 422px) {
    .footer_info-item {
        flex-direction: column;
        gap: 5px;
    }

    .footer_infos {
        gap: 30px;
    }
}

@media screen and (max-width: 367px) {
    .info_text-email {
        font-size: 0.8rem;
    }
}