.header_main-container {
    position: fixed;
    top: 0;
    transition: .5s ease;
    backdrop-filter: blur(1.5px);
    z-index: 10;
}

.header_main-subcontainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    transition: .3s ease;
}

.header_main-subcontainer,
.header_navigation-subcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_navigation-subcontainer {
    display: flex;
    gap: 40px;
    list-style: none;
    transition: .3s ease;
}

.header-mobile-icon {
    display: none;
}

.header_navigation-item {
    color: var(--cosmos-cream);
    text-transform: uppercase;
    font-size: 0.9rem;
    position: relative;
}

.header_navigation-item::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--cosmos-salmon);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s ease;
}

.header_navigation-item:hover::after {
    width: 100%;
    left: 0;
}

.header-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_number-text {
    position: relative;
}

.header_number-text p {
    color: var(--cosmos-cream);
    position: absolute;
    top: -18px;
    left: 0;
}

.header-number img {
    max-width: 40px;
    width: 100%;
}

.header-number a {
    color: var(--cosmos-cream);
    font-size: 1.5rem;
}

.header-toggle-icon {
    background-color: transparent;
    outline: 0;
    border: 0;
    color: var(--cosmos-cream);
    cursor: pointer;
    display: none;
}

.header-mobile-social {
    display: none;
    gap: 20px;
}

.header-mobile-social a {
    color: var(--cosmos-cream);
}

.header-sticky .header_main-subcontainer {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    transition: .3s ease;
}

.header-sticky {
    background-color: rgba(0, 0, 0, 0.521);
    transition: .5s ease;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 #322c598e;
}

@keyframes showSidebar {
    from { margin-left: -100vw; }
    to { margin-left: 0; }
}

@media screen and (max-width: 1027px) {
    .header-toggle-icon {
        display: flex;
    }

    .header-navigation {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.637);
        width: 100%;
        margin-left: -100vw;
        transition: .8s ease;
        animation-duration: 1s;
    }
    
    .header_navigation-subcontainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        background-color: var(--cosmos-gray);
        height: 100%;
        width: 250px;
        animation-duration: 0.9s;
        transition: .5s ease;
        overflow-y: scroll;
        padding: 20px;
    }

    .header_navigation-subcontainer a {
        width: 100%;
        position: relative;
    }

    .header_navigation-subcontainer a li {
        font-size: 1.1rem;
        width: 100%;
    }

    .header-mobile-before::before,
    .header-mobile-li::after {
        content: "";
        width: 100%;
        height: 1.5px;
        background-color: gray;
        position: absolute;
        left: 0;
    }

    .header-mobile-before::before {
        top: -65%;
    }

    .header-mobile-li::after {
        bottom: -65%;
    }

    .header-icon a img{
        width: 120px;
    }

    .header-mobile-icon,
    .header-mobile-icon a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .header-mobile-icon {
        margin-top: -30px;
    }

    .header-mobile-icon a img {
        width: 150px;
    }

    .header-mobile-social {
        display: flex;
    }

    .header-number {
        display: none;
    }
}