.header_main-container {
    background-color: var(--cosmos-black);
    position: fixed;
    top: 0;
}

.header_main-subcontainer {
    padding: 20px 0;
    transition: .3s ease;
}

.header_main-subcontainer,
.header_navigation-subcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_navigation-subcontainer {
    display: flex;
    gap: 60px;
    list-style: none;
    transition: .3s ease;
}

.header-mobile-icon {
    display: none;
}

.header_navigation-item {
    color: var(--cosmos-cream);
    text-transform: uppercase;
    font-size: 0.9rem;
    position: relative;
}

.header_navigation-item::after {
    content: "";
    width: 0;
    height: 1.5px;
    background-color: var(--cosmos-cream);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s ease;
}

.header_navigation-item:hover::after {
    width: 100%;
    left: 0;
}

.header-number {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-number img {
    max-width: 40px;
    width: 100%;
}

.header-number a {
    color: var(--cosmos-cream);
    font-size: 1.5rem;
}

.header-toggle-icon {
    background-color: transparent;
    outline: 0;
    border: 0;
    color: var(--cosmos-cream);
    cursor: pointer;
    display: none;
}

.header-mobile-social {
    display: none;
    gap: 20px;
}

.header-mobile-social a {
    color: var(--cosmos-cream);
}

.header-sticky .header_main-subcontainer {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .3s ease;
}

@keyframes showSidebar {
    from { margin-left: -100vw; }
    to { margin-left: 0; }
}

@media screen and (max-width: 1027px) {
    .header-toggle-icon {
        display: flex;
    }

    .header-navigation {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.637);
        width: 100%;
        margin-left: -100vw;
        transition: .8s ease;
        animation-duration: 1s;
    }
    
    .header_navigation-subcontainer {
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--cosmos-base);
        height: 100%;
        width: 250px;
        animation-duration: 1.2s;
        transition: .5s ease;
    }

    .header-icon a img{
        width: 120px;
    }

    .header-mobile-icon {
        display: block;
    }

    .header-mobile-social {
        display: flex;
    }

    .header-number {
        display: none;
    }
}